* {
    font-family:Arial, Helvetica, sans-serif ;
    color-scheme: dark;
}

a {
    text-decoration: none;
    color: #2f81f7;
}

#header,
#recipes-list {
    text-align: center;
}

ul {
    list-style-position: inside;
}